@import "tailwindcss";

@theme {
	--font-sans:
		"Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--breakpoint-3xl: 1920px;
}

html,
body {
	width: 100dvw;
	overflow: hidden;
	background-image: url("../assets/images/windows-wrapper.jpg");
	background-size: cover;
	background-position: center;
	height: 100dvh;
}

@layer utilities {
	.flex-center {
		@apply flex items-center justify-center;
	}

	.col-center {
		@apply flex flex-col items-center justify-center;
	}

	.abs-center {
		@apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
	}
}

@layer base {
	main {
		@apply w-dvh h-dvh overflow-hidden;
	}

	nav {
		@apply flex items-center justify-between bg-white/50 backdrop-blur-3xl p-2 px-5 select-none;
	}

	nav div {
		@apply flex items-center max-sm:w-full max-sm:justify-center gap-5;
	}

	nav div:last-child {
		@apply max-sm:hidden;
	}

	nav ul {
		@apply flex items-center gap-5 max-sm:hidden;
	}

	nav ul p {
		@apply text-sm cursor-pointer hover:underline transition-all;
	}
}
