@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap");

@import "tailwindcss";
@import "./wrappers.css";

@theme {
	--font-sans:
		"Noto Sans Mono", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--breakpoint-3xl: 1920px;
}

html,
body {
	width: 100%;
	overflow: hidden;
	height: 100%;
	font-family: var(--font-sans);
}

@layer utilities {
	.flex-center {
		@apply flex items-center justify-center;
	}

	.col-center {
		@apply flex flex-col items-center justify-center;
	}

	.abs-center {
		@apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
	}
}

@layer base {
	main {
		@apply w-dvh h-dvh overflow-hidden;
	}

	nav {
		@apply flex items-center justify-between bg-white/50 backdrop-blur-3xl p-2 px-5 select-none;
	}

	nav div {
		@apply flex items-center max-sm:w-full max-sm:justify-center gap-5;
	}

	nav div:last-child {
		@apply max-sm:hidden;
	}

	nav ul {
		@apply flex items-center gap-5 max-sm:hidden;
	}

	nav ul p {
		@apply cursor-pointer hover:underline transition-all;
	}

	nav ul li {
		@apply cursor-pointer hover:underline transition-all text-sm;
	}
}
