.techcoderio-welcome {
	background-image: url("../assets/images/windows-dark.jpg");
	background-size: cover;
	background-position: top;
}

.techcoderio-lockscreen {
	background-image: url("../assets/images/windows-dark.jpg");
	background-size: cover;
	background-position: top;
}
